html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul,
p,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-size: 18px;
  line-height: 27px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #f7f7f7;
}

.wrapper {
  background-image: url(../images/wrapper-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  background-color: #02160b;
  min-height: 779px;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  margin-bottom: 120px;
}

.logo__link {
  display: flex;
  align-items: center;
  color: #f7f7f7;
}

.logo__image {
  width: 70px;
  height: 60px;
}

.logo p {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  margin-left: 15px;
}

.menu__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu__item + .menu__item {
  margin-left: 62px;
}

.menu__item-link {
  color: #f7f7f7;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  transition: all 0.4s;
  border-bottom: 2px solid transparent;
}

.menu__item-link:hover {
  border-bottom: 2px solid #cd6326;
}

.menu__item-link:active {
  border-bottom: 2px solid #8f5613;
}

.menu__item-link-search {
  display: block;
  transition: all 0.2s;
}

.menu__item-link-search:hover {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.88);
}

.sign-in {
  font-family: "Roboto", sans-serif;
  padding: 9px 23px;
  border: 2px solid #cd6326;
  border-radius: 5px;
  transition: all 0.4s;
}

.sign-in:hover {
  background: #cd6326;
}

.sign-in:active {
  background: #8f5613;
}

.survival__title {
  letter-spacing: 2px;
  font-size: 48px;
  line-height: 72px;
  color: #cd6326;
  margin-bottom: 51px;
  font-weight: normal;
}

.survival__text {
  max-width: 274px;
  margin-bottom: 65px;
}

.survival__donate-btn {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  background: #cd6326;
  border-radius: 5px;
  color: #f7f7f7;
  padding: 16px 43px;
  transition: all 0.4s;
}

.survival__donate-btn:hover {
  background: #e39128;
}

.survival__donate-btn:active {
  background: #8f5613;
}

.latest-articles {
  background-color: #cccccc;
  padding-bottom: 233px;
}

.latest-articles__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.latest-articles__title {
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
  font-weight: 400;
}

.latest-articles__sub-title {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
  font-weight: 400;
  margin-bottom: 119px;
}

.latest-articles__slider {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-articles__slider-container {
  width: 1020px;
  overflow: hidden;
}

.latest-articles__slider-track {
  display: flex;
  transition: all 0.3s;
}

.latest-articles__slider-item {
  position: relative;
  min-width: 300;
}

.latest-articles__slider-item + .latest-articles__slider-item {
  margin-left: 60px;
}

.latest-articles__slider-item-title {
  position: absolute;
  top: 247px;
  left: 0;
  right: 0;
  font-size: 22px;
  line-height: 36px;
  font-weight: lighter;
}

.latest-articles__slider-item-text {
  position: absolute;
  top: 293px;
  left: 0;
  right: 0;
  font-size: 17px;
  line-height: 27px;
  font-weight: normal;
}

.latest-articles__slider-right-arrow,
.latest-articles__slider-left-arrow {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s;
}

.latest-articles__slider-right-arrow:hover,
.latest-articles__slider-left-arrow:hover {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.88);
  transform: scale(1.25);
}

.latest-articles__slider-right-arrow:disabled,
.latest-articles__slider-left-arrow:disabled {
  filter: invert(0.2) sepia(0) saturate(1) hue-rotate(0deg) brightness(0.5);
  opacity: 0.2;
}

.get-notified {
  background-color: #cccccc;
  padding-bottom: 239px;
}

.get-notified__inner {
  text-align: center;
}

.get-notified__title {
  text-align: center;
  width: 526px;
  min-height: 41px;
  font-size: 27px;
  line-height: 40.5px;
  color: #333333;
  margin: 0 auto 59px auto;
}

.get-notified__form {
  display: flex;
  justify-content: center;
}

.get-notified__form-email {
  width: 540px;
  height: 60px;
  border: 1px solid #666666;
  outline: none;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
  background-color: #cccccc;
  font-size: 23px;
  line-height: 27px;
}

.get-notified__form-submit {
  width: 120px;
  height: 60px;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  color: #f7f7f7;
  font-size: 23px;
  line-height: 27px;
  font-family: "Roboto", sans-serif;
  transition: all 0.4s;
  outline: none;
}

.get-notified__form-submit:hover {
  background: #e39128;
  border: 1px solid #e39128;
}

.get-notified__form-submit:active {
  background: #8f5613;
  border: 1px solid #8f5613;
}

.footer {
  background-color: #181617;
}

.footer__wrapper {
  margin: 0 auto;
  width: 1440px;
  min-height: 360px;
  background-image: url(../images/footer-bg.png);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 360px;
}

.social {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu__item-social {
  width: 40px;
  height: 40px;
}

.menu__item-social-link {
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}

.menu__item-social + .menu__item-social {
  margin-left: 27px;
}

.footer .menu__item {
  margin-left: 86px;
}

.facebook {
  background-image: url(../images/facebook.svg);
}

.instagram {
  background-image: url(../images/instagram.svg);
}

.pinterest {
  background-image: url(../images/pinterest.svg);
}

.youtube {
  background-image: url(../images/youtube.svg);
}

.facebook:hover {
  background-image: url(../images/facebook-hover.svg);
}

.instagram:hover {
  background-image: url(../images/instagram-hover.svg);
}

.pinterest:hover {
  background-image: url(../images/pinterest-hover.svg);
}

.youtube:hover {
  background-image: url(../images/youtube-hover.svg);
}
